:root {
  --color-blue : rgb(64,156,255);
  --color-blue2 : rgb(0,14,34);
  --color-red : rgb(255,105,97);
  --color-white : rgb(0,0,0);
  --color-grey1 : rgb(24, 24, 24);
  --color-grey2 : rgb(40,40,40);
  --color-grey3 : rgb(204,204,204);
  --color-black : rgb(255,255,255);
  --color-orange : rgb(255,159,10);
  --color-purple : rgb(94,92,230);
}

html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  position: relative;
  line-height: 1.4;
  min-width: 600px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  color: var(--color-grey3);
  background-color: var(--color-white);
}

a:link {
  text-decoration: none;
}

#contenu {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 25cm;
  width: 100%;
}

.favorite {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0.3cm;
}

.boxAppLink {
  align-content: flex-start;
  border-radius: 0.5cm;
  padding:0.2cm;
  min-width: 2cm;
  color: var(--color-blue);
  text-align: center;
  background-color: var(--color-blue2);
  margin-top: 0.1cm;
  margin-right: 0.1cm;
}

.boxAppLink:hover {
  background-color: var(--color-blue);
  color: white;
}

.favorite a:hover {
  text-decoration: none;
}

.boxList {
  width: 100%;
  column-gap: 0.2cm;
  column-count: 4;
}

.boxList ul {
  background-color: var(--color-blue2);
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid; /* Firefox is dumb */
  break-inside: avoid;
  padding: 0cm;
  text-align: center;
  margin: 0cm;
  margin-bottom: 0.2cm;
  border-radius: 0.1cm;
  padding-bottom: 0.1cm;
}

.boxList li {
  list-style-type: none;
}

.boxList li:first-child {
    font-weight:  bold;
}

a {
  color: var(--color-blue);
}
