body{
  margin: 0px;
  padding: 0px;
  font-family: helvetica, sans-serif;
  font-weight: lighter;
  min-width: 800px;
  position: relative;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#menu {
  z-index : 2;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(0,0,0,0.85);
  border-bottom: 1px solid black;
}

#menu div {
  width: 200px;
  text-align: center;
  line-height: 50px;
  height: 50px;
  color: white;
}

#menu div:hover {
  color: rgb(120,120,120);
}

#corps {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 50px;
}

#corps .partie {
  flex-grow: 1;
  margin-left: 7%;
  margin-right: 7%;
  padding-left: 5%;
  padding-right: 5%;
  border-top: solid rgb(200,200,200) 1px;
}

#corps .partie span {
  border: solid 1px #077AFF;
  border-radius: 4px;
  padding: 2px;
  text-decoration: none;
  color: #077AFF;
}

#corps div span:hover {
  background-color: #077AFF;
  color: white;
}

#corps a {
  color: #077AFF;
  text-decoration: none;
}

#corps a:hover {
  text-decoration: underline;
}

mark {
  background-color: rgba(0,0,0,0);
  color: #ff3b30;
}

.blocs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: none;
  padding: 0px;
  margin: 0px;
}

#corps .tableau {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 10px;
  border: solid 1px rgb(150,150,150);
}

#corps .tableau th {
  border: solid 1px rgb(150,150,150);
}

#corps .tableau td {
  border-right: solid 1px rgb(150,150,150);
  border-left: solid 1px rgb(150,150,150);
}

.blocs div {
  height: 20px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  border: solid 1px rgb(150,150,150);
  color : black;
}

#corps .blocs a:hover {
  text-decoration: none;
}

.blocs div:hover {
  background-color: #000000;
  color: white;
}

.blocs .boxrouge:hover {
  background-color: #ff3b30;
  color: white;
}

.blocs .boxorange:hover {
  background-color: #ff9500;
  color: white;
}

.blocs .boxjaune:hover {
  background-color: #ffcc00;
  color: white;
}

.blocs .boxvert:hover {
  background-color: #4cd964;
  color: white;
}

.blocs .boxbleuclair:hover {
  background-color: #5ac8fa;
  color: white;
}

.blocs .boxbleu:hover {
  background-color: #007aff;
  color: white;
}

.blocs .boxviolet:hover {
  background-color: #5856d6;
  color: white;
}

.blocs .boxrose:hover {
  background-color: #ff2d55;
  color: white;
}

.blocs .boxblanc:hover {
  background-color: #f1f1f1;
  color: black;
}

.blocs .boxgris:hover {
  background-color: #888888;
  color: white;
}


.bleu {
  color: #007aff;
  font-weight: normal;
  margin: 0%;
}

.sousligne {
  text-decoration:  underline;  
}

.chrono {
  vertical-align: top;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 10px;
  position: relative;
}

.chrono td{
    padding-bottom : 10px;
    vertical-align : top;
}

.chrono .date {
    white-space: nowrap;
    padding-right: 10px;
}

.liste {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.liste th {
  border: solid 1px rgb(150,150,150);
}

.liste  td {
  border: solid 1px rgb(150,150,150);
}

.liste2 {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.liste2 .petit {
    width: 10px;
    border:   none;
}


.liste2 .fantome {
    border:   none;
}

.liste2  td {
  border: solid 1px rgb(150,150,150);
}

table ul {
  margin: 0px;
}
