body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  min-width: 600px;
  height: 100%;
  background-color: rgb(13 17 23);
}


/*************************
global strurcture
/*************************/

nav {
  width: 100%;
  display: flex;
  flex-direction:  row-reverse;
  align-items:flex-end;
  color: var(--color-write);
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  height: fit-content;
}
  
.boutonsZone {
  display: flex;
  flex-direction: row;
}

.boutonsBox {
  display: flex;
  flex-direction: column;
  text-align: center; 
  background-color: var(--color-bouton);
  margin-left: 1em;
  border-radius: 0.2em;
}

.circle {
  padding: 0.15cm;
  border-radius: 1.2em;
}

.boutonsBox i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  width: 1.2em;
  height: 1.2em;
}

.square {
  padding: 0cm;
  border-radius: 1.2em;
} 

.boutonsSub {
  flex: 1;
  display: flex;
  height: 1.2em;
  flex-direction: row;
}

.boutonClic:first-child {
  border-top-left-radius: 1.2em;
  border-bottom-left-radius: 1.2em;
}

.boutonClic {
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color--boiteH2); 
}

.boutonClic:last-child {
  border-top-right-radius: 1.2em;
  border-bottom-right-radius: 1.2em;
}

.boutonClic:hover, .circle:hover, .developper:hover {
  cursor: pointer;
  color: white;
  background-color: var(--color-degrade1);
  /*background: linear-gradient(to right, var(--color-degrade1), var(--color-degrade2));*/
}

/* entête */
header {
  width: 100%;
  font-weight: bold; 
  text-transform : capitalize;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

#section {
  color: var(--color-titre);
}

#section section {
  display: flex;
  flex-direction: column;
  background-color: red;
}

#titre {
  font-size: 1.5em;
  color: var(--color-boiteH2)
}

/*contenu de la page*/
a:hover, .note a:hover {
  background-color: var(--color-degrade1);
  border-radius: 0.3em;
  border: none;
}

#page {
  color: var(--color-write);
  /*position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;*/
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 2em;
}

#favori {
  display: flex;
  flex-direction: column;
  border-radius: 0.3em;
  background-color: var(--color-fond);
  height: fit-content;
  width: fit-content;
  margin-right: 0.3em;
  min-width: 15%;
}

#contenu {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 0.3em;
}

#contenu article {
  margin-bottom: 0.6em;
}

a {
  color: var(--color-write);
  text-decoration: none;
}

#favori a {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-bottom: 0.3em;
  border-top: 2px solid var(--color-fondMenu);
}

#favori i {
  position: relative;
  top : -0.1em;
  padding-right: 0.2em;
  font-size: 1.2em;
  text-align: center;
  width: 1.2em;
  margin-right: 0.2em;
}

#favori a:first-child {
  border-top: none;
}

/**contenu***/
.liste {
  flex-direction: row;
  justify-content: center ;
  align-items: top;
  display: flex;
  flex-wrap: wrap;
  margin-top:0px;
}

.vide, .colonne {
  flex-grow: 1;
  padding: 0;
  width: 10em;
  min-width: 22%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-fond);
  height: fit-content;
  border-radius: 0.3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.colonne:last-child, .vide:last-child {
  margin-right: 0px;
}

.liste a {
  display: none;
  flex-direction: row;
  color: var(--color-write);
  border-top: 2px solid var(--color-fondMenu);
  padding: 0.4em;
  padding-left: 1em;
  padding-right: 0em;
}

.liste h3 {
  margin: 0px;
  padding: 0.4em;
  text-align: center;
  font-weight: normal;
}

/****Notes****/
.note {
  background-color: var(--color-fond);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 1.2em;
  padding-right: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}


.note a, header a {
  display: inline-block;
  position: relative;
  margin-left: 0.2em;
  color: var(--color-write);
  border-radius: 0.3em;
  top: -0.2em;
  padding: 0.5em;
  height: fit-content;
  background-color: var(--color-boite);
} 

header a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.note a, {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.note h3 {
  display: flex;
  margin: 0px;
  font-weight: normal;
  font-size: 1.6em;
  border-top: 2px solid var(--color-fondMenu);
  padding-top: 0.6em; 
  padding-bottom: 0.6em;
  width: 100%;
}

.note h3:first-child {
  border-top: none;
  margin-top: 0em;
}


ul, p {
  display: flex;
  flex-wrap: wrap;
  width: 100%;  
  margin: 0px;
  margin-top: 0.4em;
}

ul {
  display: flex;
  flex-direction: column;
}

.bout {
  font-size: 1.2em;
  background-color: var(--color-fond);
  text-align: left;
  border-radius: 0.3em;
  margin-bottom:0.1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 2em;
}

.bout i {
  font-size: 0.8em;
  padding-left: 0.5em;
}

.bout:hover, .liste h3:hover {
  text-decoration: underline;
  cursor: pointer;
}


table div {
  height: 2em;
  min-width: 2em;
}

.horizon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align:  
}

@media only screen and (max-device-width:734px) {
    body {
        font-size: 3em;
    }

    #favori {
      width:100%;
      margin-bottom: 1em;
      margin-right: 0em;
    }

    header a {
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 0.3em;
    }

    .boutonsBox i {
    width: 2em;
    height: 2em;
  }
}