.favori {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-radius: 0.3em;
  text-align: center;
  padding-top: 0.2cm;
  margin-bottom: 0.2cm;
}

.favori a {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0.3cm;
  padding: 0.5em;
  border-radius: 0.3em;
  min-width: 10%;
  background-color : var(--color-home);
}

.liste {
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  display: flex;
  flex-wrap: wrap;
  margin-top:0px;
}

.vide, .colonne {
  flex-grow: 1;
  padding: 0;
  width: 10em;
  min-width: 23%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-home);
  height: fit-content;
  border-radius: 0.3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.colonne:last-child, .vide:last-child {
  margin-right: 0px;
}

.liste a {
  display: flex;
  flex-direction: row;
  color: var(--color-write);
  border-top: 2px solid var(--color-body);
  padding: 0.4em;
  padding-left: 1em;
  padding-right: 0em;
}

.liste h3 {
  margin: 0px;
  padding: 0.4em; 
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

