:root{
  --color-hover: rgb(0,122,255);
  --color-nav: rgb(29,27,38);
  --color-body: rgb(33,32,42);
  --color-police: rgb(236,238,240);
  --color-bouton: rgb(142,142,147);/*rgb(40,40,80);*/
  --color-gray: rgb(142,142,147);
  --color-code: rgb(44,44,46);
  --color-home: rgb(54,54,64);
  --color-header: rgb(77,77,77);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0.5em;
  background: var(--color-gray);
}

::-webkit-scrollbar-thumb:hover {
  background: #409cff;
  cursor: pointer; 
}

body {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: var(--color-body);
  color : var(--color-police);
  font-family: 'Roboto', sans-serif;
}

header {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 0.2cm;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  color: rgb(20, 20, 20);
}

nav {
  background-color: var(--color-nav);
  overflow-y: scroll;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
}

section {
  margin: 0px;
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**entête**/
header div {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  flex: 1;
}

header #langage {
  flex-grow: 0;
  background: var(--color-bouton);
}

header li, header a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

header div div {
  flex: 0;
  padding: 0.2cm;
  border-radius: 0.3em;
}

header div li {
  text-align: center;
  padding: 0.2cm;
  padding-left: 0.4cm;
  padding-right: 0.4cm;
  border-radius: 0.3em;
} 

header a {
  border-radius: 10em;
  padding: 0.5em;
  height: fit-content;
  background-color: var(--color-bouton);
  color: rgb(20,20,20);
  margin-right: 1em;
  margin-left: 1em;
}

#langage {
  display: flex;
  border-radius: 10em;
  padding: 0.1cm;
  margin: auto;
  background-color: var(--color-bouton);
}

#langage li {
  font-size: 1em;
  padding: 0.1em;
  padding-left: 0.4cm; 
  padding-right: 0.4cm; 
  border-radius: 10em;
  border-radius: 10em;
}

/*section*/

article {
  max-width: 25cm;
  padding-left: 2%; 
  padding-right: 2%;
  width: 96%;
}

#contenu {
  flex: 0;  
}

/*nav*/
nav h2 {
  display: flex;
  color: rgb(99,99,102);
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 1em;
  margin: 0px;
  padding-top: 1em;
  padding-bottom: 0.2cm;
}

nav div {
  text-transform: capitalize;
  align-items: center;
  border-radius: 0.3em;
}


nav div:last-child {
  margin-bottom: 2em;
}

nav div div:last-child {
  margin-bottom: 0;
}


nav a, nav div {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  padding-left: 0.8em;
  padding-right:2em;
  padding-bottom: 0.3em;
}

#legende {
  flex-direction: column;
    align-items: flex-start;
}

#legende:hover, #legende div:hover {
  background: none;
}

#legende div {
  display: inline-flex;
  padding-top: 0px;
  padding-bottom: 0px;
  flex: 1;
}

.r, .sas, .python {
  display: block;
  margin-left: 0.05cm;
  border-radius: 0.5cm;
  width: 0.7em;
  height: 0.7em;
  color: var(--color-boite);
}

#legende .r, #legende .sas, #legende .python {
  margin-right: 0.2cm; 
}

.r { 
  background-color: rgb(255,159,10,0.6);
}

.sas {
  background-color: rgb(191,90,242,0.6);
}

.python { 
  background-color: rgb(52,199,89,0.6);
}

/*spécificité articles*/
#br, #bsas, #bpython, #bgeneral {
  display: none;
}

.selection {
  background-color: rgb(55,54,63);
  border-radius: 0.3em;
}

/**lien*/
a, nav div:hover {
  color: var(--color-police);
  text-decoration: none;
  font-weight: normal;
}

a:hover, nav div:hover, .favori a:hover, header li:hover {
  background-color: var(--color-hover);
  cursor: pointer;
  color: var(--color-police);
}

#contenuHome a:hover {
	border-radius: 0.3em;
}

@media screen and (max-device-width:15cm) {
  body {
    font-size: 32px;
  }

  nav {
    width: 50%;
  }

  header {
    flex-direction: column-reverse;
    bottom: 0px;
  }

  header div {
    align-items: center;
    flex: 1;
  }  

  header div:nth-child(2) div {
    margin-top: 0.5cm;
    margin-bottom: 0.2cm;
  }

  header div:nth-child(2) div li {
    font-size: 1.5em;
    width: 2cm;
    height: 2cm;
  }

  header div a {
    display: none;
  }

  #langage li {
    padding: 1em;
  }

  #contenu {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
  }

  .favori a {
    margin: 0.5em;
    padding: 1em;
    min-width: 3cm;
  }

  .bouton {
    padding: 1em;
  }

  #contenuHome, #contenu {
    padding-bottom: 2cm;
    display: absolute;
  }

  #contenu table {
    font-size: 1em;
  }

  p, li {
    font-size: 0.5em;
  }

  #contenu li {
    margin-top: 1.1em;
  }
}

