:root{
  --color-hover: rgb(0,122,255);
  --color-nav: rgb(29,27,38);
  --color-body: rgb(33,32,42);
  --color-police: rgb(236,238,240);
  --color-bouton: rgb(40,40,80);
  --color-gray: rgb(142,142,147);
  --color-code: rgb(44,44,46);
  --color-home: rgb(54,54,64);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0.5em;
  background: var(--color-gray);
}

::-webkit-scrollbar-thumb:hover {
  background: #409cff;
  cursor: pointer; 
}

body {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: var(--color-body);
  color : var(--color-police);
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

header {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 0.2cm;
}

nav {
  background-color: var(--color-nav);
  overflow-y: scroll;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
}

section {
  margin: 0px;
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**entête**/
header div {
  display: flex;
  flex-direction: row;
  flex: 1 ;
  justify-content: center;
  align-content: center;
  text-align: center;
}

header div div {
  flex-grow: 0;
  border-radius: 0.5em;
}

#context, #homip {
  background-color: var(--color-bouton);
  border: 1px solid var(--color-body);
  padding: 0.2cm;
  align-content: flex-end;
}

.bouton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.2cm;
  text-align: center;
}

.bouton i {
  display: flex;
  flex-grow: 1;
}

/*section*/

article {
  max-width: 25cm;
  padding-left: 2%; 
  padding-right: 2%;
  width: 96%;
}

/*nav*/
nav h2 {
  display: flex;
  color: rgb(99,99,102);
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 1em;
  margin: 0px;
  padding-top: 1em;
  padding-bottom: 0.2cm;
}

nav div {
  text-transform: capitalize;
  align-items: center;
}


nav div:last-child {
  margin-bottom: 2em;
}

nav div div:last-child {
  margin-bottom: 0;
}


nav a, nav div {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  padding-left: 0.8em;
  padding-right:2em;
  padding-bottom: 0.3em;
}

#legende {
  flex-direction: column;
    align-items: flex-start;
}

#legende:hover, #legende div:hover {
  background: none;
}

#legende div {
  display: inline-flex;
  padding-top: 0px;
  padding-bottom: 0px;
  flex: 1;
}

.r, .sas, .python {
  display: block;
  margin-top: 0.1cm;
  margin-left: 0.05cm;
  border-radius: 0.5cm;
  width: 0.7em;
  height: 0.7em;
  color: var(--color-boite);
}

#legende .r, #legende .sas, #legende .python {
  margin-right: 0.2cm; 
}

.r { 
  background-color: rgb(255,159,10,0.6);
}

.sas {
  background-color: rgb(191,90,242,0.6);
}

.python { 
  background-color: rgb(52,199,89,0.6);
}

/*spécificité articles*/
#br, #bsas, #bpython, #bgeneral {
  display: none;
}

.selection {
  background-color: rgb(55,54,63);
  border-radius: 0.3em;
}

#fav {
  position: fixed;
  background-color: var(--color-bouton);
  width: auto;
  grid-template-columns: auto auto auto auto;
  border-radius: 0.2cm;
  padding: 0.2cm;
  margin-bottom: 0.3cm;
}

#fav a {
  text-align: center;
  border: solid 2px var(--color-body);
  background-color: var(--color-body);
  margin: 0.05cm;
  padding: 0.2cm;
  border-radius: 0.2cm;
}

#fav a:hover {
  border: solid 2px var(--color-body);
  background-color: var(--color-bouton);
}

/**lien*/
a, nav div:hover {
  color: var(--color-police);
  text-decoration: none;
  font-weight: normal;
}

a:hover, .bouton:hover, nav div:hover, .favori a:hover {
  background-color: var(--color-hover);
  border: none;
  cursor: pointer;
  border-radius: 0.2cm;
}

@media (max-device-width:15cm) {
  nav {
    font-size: 200%;
  }

  .bouton {
    font-size: 200%;
    padding: 1em;
  }

    .favori a {
    width: 100%;
    margin: 0px;
    border-radius: 0.3em;
    border: 2px solid var(--color-body);
    margin-bottom: 0.5em;
  }

  .colonne {
    width: 100%;
    margin: 0px;
    margin-top: 1em;
  }

  #contenu {
    font-size: 2em;
  }
}