:root{
  --color-hover: rgb(0,122,255);
  --color-nav: rgb(29,27,38);
  --color-body: rgb(33,32,42);
  --color-police: rgb(236,238,240);
  --color-bouton: rgb(142,142,147);/*rgb(40,40,80);*/
  --color-gray: rgb(142,142,147);
  --color-code: rgb(44,44,46);
  --color-home: rgb(54,54,64);
  --color-header: rgb(77,77,77);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0.5em;
  background: var(--color-gray);
}

::-webkit-scrollbar-thumb:hover {
  background: #409cff;
  cursor: pointer; 
}

body {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  flex-direction: row;
  display: flex;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  color : var(--color-police);
  font-family: 'Roboto', sans-serif;
}

header {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 0.2cm;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  color: rgb(20, 20, 20);
  z-index: 1;
}

section {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-body);
}

/**entête**/
header div {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  flex: 1;
}

header li, header a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

header {
  font-size: 1.2em;
}

header div div {
  flex: 0;
  padding: 0.2em;
  border-radius: 0.3em;
}

header div li {
  text-align: center;
  padding: 0.2em;
  padding-left: 0.4cm;
  padding-right: 0.4cm;
  border-radius: 0.3em;
} 

header a {
  border-radius: 10em;
  padding: 0.5em;
  height: fit-content;
  background-color: var(--color-bouton);
  color: rgb(20,20,20);
  margin-right: 1em;
  margin-left: 1em;
}

/*nav*/
nav {
  display: flex;
  flex-direction: column;
  background-color: var(--color-nav);
  padding-left: 15px;
  z-index: 0;
}

nav div {
  flex-direction: column;
}

nav h2 {
  display: flex;
  color: rgb(99,99,102);
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 1em;
  margin: 0px;
  padding-top: 1em;
  padding-bottom: 0.2cm;
}

nav h3 {
  margin: 0px;
  font-size: 1em;
  font-weight: normal;
}

nav li, nav h3 {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.5em;
  padding-left: 0.8em;
  padding-right:0.8em;
  padding-bottom: 0.3em;
  border-radius: 0.3em;
  text-transform: capitalize;
}

#menu li, #menu h3 {
  margin-right: 15px;
}

nav li:hover, nav h3:hover {
  background-color: var(--color-hover);
  cursor: pointer;
}

#mode {
  border-radius: 0.3em;
  background: rgb(40,40,80);
  margin-right: 15px;
}

#menu {
  padding-right: 0px;
  overflow-y: scroll;
}

.mode {
  background-color: rgb(54,54,64);
}

.selection {
  background-color: var(--color-gray);
  color: rgb(20, 20, 20);
  border-radius: 0.3em;
}

/**lien*/
a {
  color: var(--color-police);
  text-decoration: none;
  font-weight: normal;
}

a:hover, .favori a:hover, header li:hover {
  background-color: var(--color-hover);
  cursor: pointer;
}

article {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 25cm;
}

#contenu, #contenuHome {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-device-width:480px) {
  article {
    padding-left: 0%;
    padding-right: 0%;
  }

  .favori {
    margin-top: 5cm;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;
  }  

  .favori a {
    flex: 1;
    margin-bottom: 0px;
    border-radius: 0px;
    border-top: 2px solid var(--color-body);
  }

  .favori a:first-child {
    border-top-left-radius:  0.3em;
    border-top-right-radius:  0.3em;
    border-top: none;
  }
  .favori a:last-child {
    border-bottom-left-radius:  0.3em;
    border-bottom-right-radius:  0.3em;
  }
}