#contenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#contenu code, #contenu pre {
  background-color: var(--color-code);
}

#contenu pre {
  padding: 0.1cm;
  overflow: auto;
}

#contenu h2, #contenu h3, #contenu h4  {
  margin-bottom: 0px;
  font-weight: normal;
}

#contenu a {
  color: var(--color-hover);
  text-decoration: none;
  background: none;
}

#contenu a:link {
  text-decoration: none;
}

#contenu a:hover {
  text-decoration: underline;
}