body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  min-width: 600px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction:  row; 
  background-color: rgb(247,247,250);
}

h2 {
  margin-left: 1em;
  margin-right: 1em;
}

div {
	height: 2em;
  min-width: 2em;
}

ul {
  padding: 0px;
  margin-bottom: 0px;
}

li {
	display: flex;
	flex-direction: row;
}

section {
  height: fit-content;
  margin: 1em;
  border: solid 1px rgb(240,240,242); 
  background-color: rgb(240,240,242);
  border-radius: 0.2cm;
}

table {
  border-collapse: collapse;
}

td {
  
  padding-left: 0.5em;
  padding-right : 0.5em; 
}

td:first-child, td:last-child {
  border-right : none;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track:hover {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0.5em;
  background: #888;
  cursor: pointer; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #409cff;
}
